<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Accenture Report</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="style.css">
 <!-- <link rel="stylesheet" href="styles.css">-->
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand btn-light btn-lg" href="page.html">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="research.html">Current Research</a>
            <a class="dropdown-item" href="amazon.html">Amazon</a>
            <a class="dropdown-item" href="tech.html">Product</a>
          </div>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" href="comparison.html">Comparison <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="data.html">Data</a>
        </li> -->
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Relevant Work
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://ryanporritt.github.io/leaflet-challenge/index.html" target="_blank">Earthquake Leaflet</a>
            <a class="dropdown-item" href="https://ryanporritt.github.io/plotly-challenge/index.html" target="_blank">Interactive Dashboard</a>
            <a class="dropdown-item" href="https://ryanporritt.github.io/javascript-challenge/UFO-level-2/templates/index.html" target="_blank">Filterable Database</a>
            <a class="dropdown-item" href="https://ryanporritt.github.io/D3-Challenge/index.html" target="_blank">Interactive Scatterplot</a>
          </div>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" href="comparison.html">Comparison <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="data.html">Data</a>
        </li> -->
      </ul>

    </div>
  </nav>

  <div class="container-fluid">
    <div class = "box box-1">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h1>Extended Reality</h1>
          <hr>
          <p>Extended reality or XR, a relatively new development in most
              circles, is an emerging umbrella term given to all computer-generated
              enviornments that either merge the physical and virtual worlds or create an entirely
              immersive experience for the user.
          </p>
          <img src="../Resources/VRARXR.png" alt="XR Definition" class="img-fluid" width="900">
        </div>
      </div>
    </div> 
  </div> 

  <div class = "box box-2">
    <h1>XR development</h1>
    <hr>

    <div class = "row">
      <div class = "col-xs-12 col-sm-12 col-md-12">
          <figure>
              <img src="../Resources/View-Master_with_Reel.jpg" alt="XR Glasses" class="img-fluid">
          </figure>

          <p>View-Master, a stereoscopic visual simulator, was introduced in 1939.</p>

          <figure>
            <img src="../Resources/Virtual_Reality_Headset_Prototype.jpg" alt="XR Glasses" class="img-fluid">
        </figure>
      </div>
    </div>

    <p>NASA Ames's 1985 VIEW headset</p>

  </div>

  <div class = "box box-2">
    <h1>XR Advantages</h1>
    <hr>

    <div class = "row">
      <div class = "col-xs-12 col-sm-12 col-md-12">
          <figure>
              <img src="../Resources/XRGlassesClose.png" alt="XR Glasses" class="img-fluid">
          </figure>
      </div>
    </div>

    <p>This product has the capability to increase safety and efficency while reducing errors.</p>
    <p> XR would have multiple applications within Amazon's business modle</p>

    <ul>
      <li>Hands free product tracking</li>
      <li>Turn-by-Turn Indoor Directions</li>
      <li>Invocing/Product Management</li>
      <li>Real time product description</li>
    </ul>

  </div>

  <div class = "box box-4">
    <hr>
    <h1>Current Technology</h1>
    <div class = "col-sm-12 col-md-12">
        <div class = "row">
            <div class = "col-md-3">
              <figure>
                  <img src="../Resources/HoneywellScanner.jpg" alt="Hand Scanner" class="img-fluid" width="400">
              </figure> 
            </div>
            <div class = "col-md-3">
              <figure>
                <img src="../Resources/AmazonKindle.jpg" alt="Kindle" class="img-fluid" width="400">
              </figure> 
            </div>
        </div>
    </div>
  </div>

  <div class = "box box-3">
    <hr>
    <h1>Tech Research</h1>
    <div class = "col-sm-12 col-md-12">
        <div class = "row">
          <h5>Top Industry Use Cases:</h5>
            <div class = "col-xs-12 col-sm-12 col-md-12">
                <figure>
                    <img src="../Resources/BusinessAplication.png" alt="Biggest Obstacle" class="img-fluid">
                </figure>  
            </div>
            <a href="https://www.visualcapitalist.com/extended-reality-xr/" target="_blank">Source: VisualCapitalist</a>
        </div>
    </div>
  </div>
    
    
  <div class = "box box-2">
          <div class = "col-sm-12 col-md-12">
              <div class = "row">
                  <hr>
                  <div class = "col-xs-12 col-sm-12 col-md-12">
                      <figure>
                          <img src="../Resources/IndustrySpending.jpg"  alt="Industry Spending" class="img-fluid">
                      </figure>
                  </div>

                  <div class = "col-xs-12 col-sm-12 col-md-12">
                      <figure>
                          <img src="../Resources/PatentApplications.jpg" alt="OatentApplications" class="img-fluid">
                      </figure>  
                  </div>
              </div>

              <div class = "row">
                  <div class = "col-xs-12 col-sm-12 col-md-12">
                      <figure>
                          <img src="../Resources/WorkTimeByIndustry.jpg" alt="WorkTime" class="img-fluid">
                      </figure>
                      <a href="https://www.accenture.com/_acnmedia/Accenture/next-gen-7/tech-vision-2018/pdf/Accenture-TechVision-2018-Tech-Trends-Report.pdf#zoom=50" target="_blank">Source: Accenture Report</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class = "box box-2">
    <h1>Amazon Floor</h1>
    <hr>
    <script src=../Static/logic.js"></script>
      
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/eUsGRrIbips" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class = "box box-2">
    <h1>Pod Face</h1>
    <hr>
      <div class = "col-sm-12 col-md-12">
          <div class = "row">
              <hr>
              <div class = "col-xs-12 col-sm-12 col-md-12">
                  <figure>
                      <img src="../Resources/AmazonPodFace.png" alt="Amazon Pod Face" class="img-fluid">
                  </figure>  
              </div>
          </div>
      </div>
  </div>

</body>


</html>